@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom css below */
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}
